/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    margin: 0 auto;
    width: 50%;
}
/*Body background*/
body {
    background-color: #b21900;
}

/*Shadow behind the login form*/
#form-login {
    box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.3);
}

/*div containing images*/
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/*image size*/
img.avatar {
    width: 8%;
}

/*Header*/
.title {
    font-family: 'Oswald';
    font-size: 50px;
    font-weight: bold;
    color: white;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 16px;
    vertical-align: middle;
    background-color: white;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}
